.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: rem(50);
  background-color: transparent;
  color: $color-black;
  font-weight: $regular;
  font-size: $font-sm;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;

  padding-right: rem(20);
  padding-left: rem(20);

  border: 1px solid transparent;
  border-radius: rem(3);
  &:hover,
  &:focus {
    background-color: darken($color-white, 0.2);
  }

  &:disabled {
    color: $color-gainsboro;
    border: 1px solid $color-gainsboro;
    opacity: 0.7;
    pointer-events: none;
  }

  &.btn-small {
    height: rem(30);
    padding-right: rem(7);
    padding-left: rem(7);
  }

  &.btn-primary {
    background-color: $color-charcoal;
    color: $color-white;
    border: 1px solid $color-charcoal;
    &:hover,
    &:focus {
      background-color: darken($color-charcoal, 2);
    }
  }
  
  &.btn-royal-blue {
    background-color: $color-royal-blue-dark;
    color: $color-white;
    border: 1px solid $color-royal-blue-dark;
    &:hover,
    &:focus {
      background-color: darken($color-royal-blue-dark, 5);
    }
  }

  &.btn-punpkin {
    background-color: $color-punpkin;
    color: $color-white;
    border: 1px solid $color-punpkin;
    &:hover,
    &:focus {
      background-color: darken($color-punpkin, 5);
    }
  }
}
