.form-group {
  label {
    position: relative;
    display: block;
    margin-bottom: rem(10);
    .label-error {
      display: block;
      position: absolute;
      right: 0;
      top: rem(30);
      height: rem(20);
      padding: rem(2) rem(5);
      background-color: rgba($color-red, 0.8);
      color: $color-black;
      font-size: $font-xs;
      pointer-events: none;
    }
  }
  .form-input {
    width: 100%;
  }
}
.form-input {
  display: block;
  height: rem(50);
  font-size: $font-md;
  border-radius: rem(3);
  padding: rem(10) rem(15);
  margin-bottom: rem(10);
  border: 1px solid $color-onyx;
  &.error {
    border: 1px solid $color-red;
  }
}

.inline-inputs {
  display: flex;
  flex-wrap: wrap;
}
