.nav-header {
	background-color: $color-white;
	color: $color-onyx;
	padding: rem(10) 0;
	.container {
		display: flex;
		justify-content: space-between;
		h1 {
			img {
				height: rem(50);
			}
		}
		.right-elements {
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: rem(75);
		}
		.btn-user,
		.btn-cart {
			@extend %align-center;
			background-color: transparent;
			width: rem(36);
			height: rem(36);
			cursor: pointer;
			border: 1px solid transparent;
			&:hover,
			&:active {
				background-color: rgba($color-black, 0.1);
			}
		}
	}
}
