.hero-banner {
  width: 100%;
  height: calc(100vh - #{rem(80)});
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $color-royal-blue-dark;
  background-image: linear-gradient(90deg, $color-spanish-blue 0%, $color-royal-blue-dark 100%);
  > .title {
    width: 100%;
    font-size: $font-xl;
    text-align: center;
    color: $color-white;
    margin-bottom: rem(50);
    padding: 0 rem(20);
  }
  > .form-sign {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    padding: 0 rem(10);
    .form-input {
      display: block;
      border: none;
      width: 100%;
      height: rem(50);
      border-radius: rem(3);
      font-size: $font-md;
      padding: rem(10) rem(25);
      margin-bottom: rem(10);
    }
    .btn-blue {
      font-size: rem(24);
      padding-right: rem(40);
      padding-left: rem(40);
    }
  }
}

@media (min-width: $desktop-lg) {
  .hero-banner {
    > .title {
      width: rem(1000);
      font-size: $font-xxl;
      margin-bottom: rem(80);
    }
    > .form-sign {
      width: rem(800);
      flex-direction: row;
      .form-input {
        width: rem(600);
        height: rem(50);
        border-radius: rem(3);
        font-size: $font-md;
        padding: rem(10) rem(25);
        margin-right: rem(5);
      }
    }
  }
}
