.product-detail {
  position: relative;
  display: block;
  padding-top: rem(50);
  padding-bottom: rem(20);
  border-bottom: 2px solid $color-charcoal;
  .cart-message {
    position: absolute;
    top: rem(90);
    right: rem(10);
    display: flex;
    align-items: center;
    justify-content: center;
    width: rem(300);
    height: ren(200);
    background-color: rgba($color-spanish-blue, 0.7);
    padding: rem(20);
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s ease-out;
    z-index: 10;
    &.show {
      opacity: 1;
      pointer-events: initial;
      transition: opacity .3s ease-out;
    }
  }
  .product-image {
    width: 100%;
    img {
      width: 100%;
    }
  }
  .produt-description {
    h1 {
      font-size: $font-xl;
      color: $color-sunglow;
      text-align: left;
      font-weight: $bold;
    }
    p {
      font-size: $font-lg;
      line-height: $line-lg;
      padding-top: rem(20);
    }
    .tags {
      padding-top: rem(20);
      li {
        display: inline-block;
        background-color: $color-olivine;
        color: $color-onyx;
        padding: rem(5) rem(10);
        margin-right: rem(5);
        border: 1px solid $color-polished-pine;
        border-radius: rem(4);
      }
    }
    .product-price {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;
      margin-top: rem(20);
      .prices {
        font-size: $font-xl;
        margin-bottom: rem(20);
      }
    }
  }
}

@media (min-width: $desktop-lg) {
  .product-detail {
    display: grid;
    grid-template-columns: 2fr 3fr;
    .produt-description {
      .product-price {
        flex-direction: row;
        margin-top: 0;
        .prices {
          font-size: $font-xl;
          margin-right: rem(20);
          margin-bottom: 0;
        }
      }
    }
  }
}
