.product-detail {
  display: block;
  padding-top: rem(50);
  padding-bottom: rem(20);
  border-bottom: 2px solid $color-charcoal;
  .product-image {
    width: 100%;
    img {
      width: 100%;
    }
  }
  .produt-description {
    h1 {
      font-size: $font-xl;
      color: $color-sunglow;
      text-align: left;
      font-weight: $bold;
    }
    p {
      font-size: $font-lg;
      line-height: $line-lg;
      padding-top: rem(20);
    }
    .tags {
      padding-top: rem(20);
      li {
        display: inline-block;
        background-color: $color-olivine;
        color: $color-onyx;
        padding: rem(5) rem(10);
        margin-right: rem(5);
        border: 1px solid $color-polished-pine;
        border-radius: rem(4);
      }
    }
    .product-price {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;
      margin-top: rem(20);
      .prices {
        font-size: $font-xl;
        margin-bottom: rem(20);
      }
    }
  }
}

@media (min-width: $desktop-lg) {
  .product-detail {
    display: grid;
    grid-template-columns: 2fr 3fr;
    .produt-description {
      .product-price {
        flex-direction: row;
        margin-top: 0;
        .prices {
          font-size: $font-xl;
          margin-right: rem(20);
          margin-bottom: 0;
        }
      }
    }
  }
}
