.checkout-page {
  .checkout-columns {
    display: block;
    padding-top: rem(50);
    section {
      padding: rem(10);
      padding-bottom: rem(30);
      margin-bottom: rem(20);
      border-bottom: 1px solid $color-sunglow;
      h2 {
        margin-bottom: rem(10);
      }
    }
    .payment {
      .select-payment {
        select {
          width: 100%;
        }
      }
    }
    .products {
      .product-row {
        display: flex;
        justify-content: flex-start;
        width: 100%;
        margin-bottom: rem(10);
        .image {
          width: rem(60);
        }
        .title {
          width: rem(140);
          padding-left: rem(10);
        }
        .price {
          width: rem(90);
          text-align: right;
        }
      }
    }
  }
}

@media (min-width: $desktop-lg) {
  .checkout-page {
    .checkout-columns {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      section {
        &:not(:first-child) {
          border-left: 1px solid $color-sunglow;
        }
      }
    }
  }
}
