.checkout-page {
  .checkout-columns {
    display: block;
    padding-top: rem(50);
    section {
      padding: rem(10);
      padding-bottom: rem(30);
      margin-bottom: rem(20);
      border-bottom: 1px solid $color-sunglow;
      h2 {
        margin-bottom: rem(10);
      }
    }
    .selected-address {
      p {
        font-size: $font-lg;
        line-height: $line-lg;
      }
    }
    .payment {
      .select-payment {
        select {
          width: 100%;
        }
      }
      .inline-inputs {
        justify-content: space-between;
        .form-group {
          width: calc(50% - #{rem(5)});
        }
      }
    }
    .purchase-summary {
      .values {
        border-top: 1px solid $color-sunglow;
        padding-top: rem(30);
        div {
          display: grid;
          grid-template-columns: 1fr 1fr;
          font-size: $font-lg;
          line-height: $line-lg;
          margin-bottom: rem(10);
          span {
            &:last-child {
              text-align: right;
            }
          }
        }
      }
      .finish {
        display: flex;
        width: 100%;
        margin-top: rem(30);
        button {
          margin-left: auto;
        }
      }
    }
    .products {
      .product-row {
        display: flex;
        justify-content: flex-start;
        width: 100%;
        margin-bottom: rem(10);
        .image {
          width: rem(60);
        }
        .title {
          width: rem(140);
          padding-left: rem(10);
        }
        .price {
          width: rem(90);
          text-align: right;
          margin-left: auto;
        }
      }
    }
  }
}

@media (min-width: $desktop-lg) {
  .checkout-page {
    .checkout-columns {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      section {
        border-left: 1px solid $color-sunglow;
        border-bottom: 0px;
        &:last-child {
          border-right: 1px solid $color-sunglow;
        }
      }
      .purchase-summary {
        .values {
          border-top: 0px;
        }
      }
    }
  }
}
