*,
*::before,
*::after {
  outline: 0;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html,
body {
  background: $color-gainsboro;
  font-family: $font-family;
  font-size: 4.444444vw;
  font-weight: $regular;
  color: $color-onyx;
  @media (min-width: $phone-sm) {
    font-size: 2.8vw;
  }
  @media (min-width: $tablet-md) {
    font-size: 2vw;
  }
  @media (min-width: $desktop-lg) {
    // font-size: 0.8333333333333333vw; //1920
    // font-size: 1.1111111111111111vw; //1440
    font-size: 1.171303074670571vw; //1366
  }
}

p {
  font-size: $font-sm;
  line-height: $line-sm;
}

a {
  color: $color-charcoal;
  font-size: $font-sm;
  font-weight: $regular;
  text-decoration: underline;
  cursor: pointer;
}

img {
  max-width: 100%;
}

.mt-20 {
  margin-top: rem(20);
}

.mr-20 {
  margin-right: rem(20);
}

.mb-20 {
  margin-bottom: rem(20);
}

.ml-20 {
  margin-left: rem(20);
}

.mb-30 {
  margin-bottom: rem(30);
}

.mr-10 {
  margin-right: rem(10);
}
