$color-black: #1b2125;
$color-white: #ffffff;

$color-red: #f02b2d;

$color-eerie-black: #1b2125;
$color-onyx: #3c4145;
$color-davys-gray: #525252;
$color-spanish-gray: #909294;
$color-light-gray: #cad2d9;
$color-gainsboro: #d8d8d8;

$color-spanish-blue: #2774ba;
$color-royal-blue-dark: #1b356e;

$color-charcoal: #233D4D;
$color-punpkin: #FE7F2D;
$color-sunglow: #ffcc01;
$color-olivine: #A1C181;
$color-polished-pine: #619B8A;

// Font Family
$font-primary: 'Lato';
$font-family: $font-primary, 'Helvetica', 'Arial', 'sans-serif';

// Font Weights
$light: 300;
$regular: 400;
$bold: 700;

$font-xxs: rem(10);
$font-xs: rem(12);
$font-sm: rem(14);
$font-md: rem(16);
$font-lg: rem(24);
$font-xl: rem(36);
$font-xxl: rem(40);

$line-xs: rem(16);
$line-sm: rem(18);
$line-md: rem(22);
$line-lg: rem(28);
$line-xl: rem(40);
$line-xxl: rem(46);

$margin-sm: rem(15);
$margin-md: rem(30);
$margin-lg: rem(45);
$margin-xl: rem(60);

// Breakpoints
$phone-sm: 576px;
$tablet-md: 768px;
$desktop-lg: 992px;
$desktop-xl: 1200px;
$desktop-xxl: 1600px;
